DerivedData
AmbienceEngineSDK.xcodeproj/project.xcworkspace/xcshareddata
AmbienceEngineSDK.xcodeproj/xcuserdata
AmbienceEngineSDK.xcodeproj/project.xcworkspace
extensions/AEDebugger/AEDebugger.xcodeproj/xcuserdata
