[submodule "AmbienceEngine"]
	path = AmbienceEngine
url=https://github.com/dwimsey/AmbienceEngine.git
	branch = master
[submodule "AEPlayerApp"]
	path = AEPlayerApp
url=https://github.com/dwimsey/AEPlayerApp.git
	branch = master
[submodule "iAEPlayer"]
	path = iAEPlayer
url=https://github.com/dwimsey/iAEPlayer.git
	branch = master
[submodule "AEExtensionStub"]
	path = AEExtensionStub
url=https://github.com/dwimsey/CosmicImpact.git
	branch = master
